@model ffWeb.UI.MVC.Models.ConfirmDeleteModel

@{
    ViewBag.Title = "Confirm Delete"; 
}

<h2 class="page-title">Confirm Delete Offer  </h2>

@using (Html.BeginForm("Delete", "Offers", FormMethod.Post, new { id = "delete-offer-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Confirm Delete</legend>

        @Html.HiddenFor(model => model.Id)

        <p>
            <input type="submit" value="Delete" id="btnSubmitDeleteOfferForm" />
        </p>
    </fieldset>
}










@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {

            $("#progress").hide();

            $.ajaxSetup({ cache: false });

        });

        $("#btnSubmitDeleteOfferForm").on("click", function (e) {

            e.preventDefault();

            $("#progress").removeClass('displaynone');
            $("#progress").addClass('displayblock');
            $("#progress").show();

            $("#delete-offer-form").submit();
        });

    </script>

}









