@model IEnumerable<fPeerLending.Entities.MailingGroup>


@foreach (var treeNode in Model)
{
    <ul>
        @if (treeNode != null)
        { 
            <li> 
                @Html.CheckBox(treeNode.ShortCode, new {  data_groupid = treeNode.GroupId, data_shortcode = treeNode.ShortCode})
                @treeNode.NodeName 
                @if (treeNode.ChildNode.Count > 0)
                {
                    @Html.Partial("ChildNode", treeNode.ChildNode)
                }
            </li> 
        }
    </ul>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
