@model ffWeb.UI.MVC.Models.RegisterModel
@{
    ViewBag.Title = "DeRegister";
}

 
    <h2 class="page-title"> @ViewBag.Title.</h2>
    <h2 class="page-title">Close all Offers and Accounts.</h2>
 




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () { 

            $("#progress").hide();

            $.ajaxSetup({ cache: false });

        });
        </script>
 
}







