<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kevin12345-001-site1.smarterasp.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://kevin12345-001-site1.smarterasp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>kevin12345-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ifc\kevin12345-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="default" Order="4" Enabled="False">
          <Destination Path="Data Source=SQL5009.Smarterasp.net;Initial Catalog=DB_9B0B71_fanikiwaDB;Persist Security Info=True;User ID=DB_9B0B71_fanikiwaDB_admin;Password=Pass12345" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=|DataDirectory|\fanikiwa_db_2026.db;Version=3;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\default_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=|DataDirectory|\fanikiwa_db_2026.db;Version=3;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ffWeb.UI.MVC.Models.UsersContext" Order="9" Enabled="False">
          <Destination Path="Data Source=SQL5009.Smarterasp.net;Initial Catalog=DB_9B0B71_fanikiwaDB;Persist Security Info=True;User ID=DB_9B0B71_fanikiwaDB_admin;Password=Pass12345" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ffWeb.UI.MVC.Models.UsersContext, ffWeb.UI.MVC" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SQLiteConnectionString" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=|DataDirectory|\fanikiwa_db_2026.db;Version=3;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLiteConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=|DataDirectory|\fanikiwa_db_2026.db;Version=3;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=|DataDirectory|\fanikiwa_db_2026.db;Version=3;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=|DataDirectory|\fanikiwa_db_2026.db;Version=3;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)default-Web.config Connection String">
      <ParameterValue>Data Source=SQL5009.Smarterasp.net;Initial Catalog=DB_9B0B71_fanikiwaDB;Persist Security Info=True;User ID=DB_9B0B71_fanikiwaDB_admin;Password=Pass12345</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ffWeb.UI.MVC.Models.UsersContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5009.Smarterasp.net;Initial Catalog=DB_9B0B71_fanikiwaDB;Persist Security Info=True;User ID=DB_9B0B71_fanikiwaDB_admin;Password=Pass12345</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ffWeb.UI.MVC.Models.UsersContext" />
  </ItemGroup>
</Project>